{% extends 'base.html.twig' %}

{% block title %}Create Team{% endblock %}

{% block body %}
    <h1>Create Team</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_team_index') }}">back to list</a>
{% endblock %}
